# This workflow builds PyInstaller single-file executables
# of Meerk40t for Ubuntu (latest)

name: Meerk40t (Ubuntu)

on:
  release:
    types: [published]

jobs:
  build-ubuntu:
    if: ${{ false }}
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout meerk40t
      uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        sudo apt-get install libgtk-3-dev
        python3 -m pip install --upgrade pip
        pip install pyinstaller wheel
        pip install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-18.04 wxPython
        if [ -f requirements-nogui.txt ]; then pip install -r requirements-nogui.txt; fi

    - name: Build meerk40t
      run: |
        mv meerk40t.py mk40t.py
        pyinstaller --windowed --onefile --name meerk40t mk40t.py
        mv mk40t.py meerk40t.py
        mv dist/meerk40t dist/MeerK40t-Ubuntu-Latest

# Switched to using softprops/action-gh-release@v1
# because it supports uploading to existing release based on current tag.
    - name: Upload Release Assets
      id: release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          dist/MeerK40t-Ubuntu-Latest

