# This workflow builds PyInstaller single-file executables
# of Meerk40t for Windows

name: Meerk40t (Windows)

on:
  release:
    types: [published]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout meerk40t
      uses: actions/checkout@v3

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
        # Latest version of python support by Windows 7 is Python 3.8
        architecture: x86
        # 32-bit architecture required for libusb to connect properly

    - name: Install dependencies
      # Numpy-locked 1.23.5 on 2023-9-28, beyond this crashes in 32-bit python for Windows 7
      run: |
        ## pip install . establishes meerk40t as a package in pip, so that meerk40t-barcodes can find it as a dependency
        pip install numpy==1.23.5
        pip install pyusb
        pip install wheel
        pip install potracer
        pip install pillow==9.5.0
        pip install wxPython
        pip install ezdxf
        pip install pyserial
        pip install bitarray
        pip install scipy
        pip install .
        pip install meerk40t-camera opencv-python-headless==4.5.3.56

    - name: pip list
      run: |
          pip list

    

# Compile bootloaders in order to reduce virus totals
# PYTHONHASHSEED is an attempt to get deterministic builds for VirusTotal
    - name: Build pyinstaller, generate bootloaders
      env:
        PYTHONHASHSEED: 12506
      run: |
        git clone --depth=1 https://github.com/pyinstaller/pyinstaller
        cd pyinstaller/bootloader
        python3 ./waf distclean all --target-arch=32bit
        cd ..
        pip3 install .
        cd ..

    - name: Build MeerK40t
      run: |
        move meerk40t.py mk40t.py
        pyinstaller .github/workflows/win/meerk40t.spec
        move mk40t.py meerk40t.py

# Switched to using softprops/action-gh-release@v1
# because it supports uploading to existing release based on current tag.
    - name: Upload Release Assets
      id: release
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          dist/MeerK40t.exe
