# This workflow builds PyInstaller single-file executables
# of Meerk40t for Windows

name: Meerk40t (Windows)

on:
  release:
    types: [published]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout meerk40t
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        architecture: 'x64'

    - name: Install dependencies
      run: |
        pip install .[all]
        pip install wheel
        pip install potracer
        pip install meerk40t-barcodes
# ==4.1.1
# Compile bootloaders in order to reduce virus totals
# PYTHONHASHSEED is an attempt to get deterministic builds for VirusTotal
# 05/28/2022 JS - Locked pyinstaller at v4.9 because 4.10 couldn't find the icon 
# when it branch v4 updated to commit e319ae3d00. Fixes made in v5 branches, not v4
    - name: Build pyinstaller, generate bootloaders
      env:
        PYTHONHASHSEED: 12506
      run: |
        git clone --depth=1 --branch=v4.9 https://github.com/pyinstaller/pyinstaller
        cd pyinstaller/bootloader
        python3 ./waf distclean all
        cd ..
        python3 setup.py install
        cd ..

    - name: Build MeerK40t
      run: |
        cd meerk40t
        move external_plugins.py external_plugins.unused
        move external_plugins_build.py external_plugins.py
        cd ..
        move meerk40t.py mk40t.py
        pyinstaller --windowed --onefile --name meerk40t .github/workflows/win/meerk40t.spec
        move mk40t.py meerk40t.py
        cd meerk40t
        move external_plugins.py external_plugins_build.py
        move external_plugins.unused external_plugins.py 
        cd ..

# Switched to using softprops/action-gh-release@v1
# because it supports uploading to existing release based on current tag.
    - name: Upload Release Assets
      id: release
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          dist/MeerK40t.exe
