# This workflow builds PyInstaller single-file executables
# of Meerk40t for Windows

name: Meerk40t (Win-64)

on:
  workflow_dispatch:

  release:
    types: [published]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout meerk40t
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        # This won't work on outdate windows versions like win7

    - name: Install dependencies
      run: |
        ## pip install . establishes meerk40t as a package in pip, so that meerk40t-barcodes can find it as a dependency
        pip install numpy<=1.26.4
        pip install pyusb
        pip install wheel
        pip install potracer
        pip install pypotrace-windows
        pip install pillow==9.5.0
        pip install wxPython
        pip install ezdxf
        pip install pyserial
        pip install bitarray
        pip install scipy<=1.12.0
        pip install pypotrace-windows
        pip install pyclipr
        pip install numba
        pip install .
        pip install meerk40t-camera opencv-python-headless==4.5.3.56
        pip install meerk40t-barcodes

    - name: pip list
      run: |
          pip list



# Compile bootloaders in order to reduce virus totals
# PYTHONHASHSEED is an attempt to get deterministic builds for VirusTotal
    - name: Build pyinstaller, generate bootloaders
      env:
        PYTHONHASHSEED: 12506
      run: |
        git clone --depth=1 https://github.com/pyinstaller/pyinstaller
        cd pyinstaller/bootloader
        python3 ./waf distclean all --target-arch=32bit
        cd ..
        pip3 install .
        cd ..

    - name: Build MeerK40t
      run: |
        ## pyinstaller struggles recognizing and including imports that are dynamic (such as for the plugins)
        ## So for build purposes, we replace the dynamic imports with the static listing that we include in builds
        cd meerk40t
        move external_plugins.py external_plugins.unused
        move external_plugins_build.py external_plugins.py
        cd ..

        ## pyinstaller struggles with meerk40t.py having the same name as the package meerk40t. Rename for the build
        move meerk40t.py mk40t.py
        pyinstaller .github/workflows/win/meerk40t.spec
        move mk40t.py meerk40t.py

        ## Restore original configuration (not really necessary in build environment which is fresh each time)
        ##cd meerk40t
        ##move external_plugins.py external_plugins_build.py
        ##move external_plugins.unused external_plugins.py
        ##cd ..
        cd dist
        move MeerK40t.exe MeerK40t-win64.exe

    - name: Upload Release Assets
      id: release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          dist/MeerK40t-win64.exe
